<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form (ngSubmit)="saveTask(task)">
      <div class="modal-header">
        <h5 class="modal-title">{{newTask ? 'New' : 'Edit'}} Task {{!newTask ? task.name : ''}}</h5><span class="title">Status: <span class="badge badge-pill" [ngClass]="task.statusId | taskStatus : 'desc'">{{task.statusId | taskStatus : 'name'}}</span></span><span class="title">Origin: <span class="badge badge-pill" [ngClass]="task.originId | origin : 'desc'">{{task.originId | origin : 'name'}}</span></span>
        <button #dataTaskModalClose type="button" class="close" data-dismiss="modal" title="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <label for="taskName">Name</label>
            <input #taskName type="text" class="form-control" [(ngModel)]="task.name" name="taskName" id="taskName" required>
          </div>
          <div class="col-md-5 col-sm-5">
            <label for="taskUser">User</label>
            <select class="form-control" [(ngModel)]="task.userId" name="taskUser" id="taskUser" required>
              <option *ngFor="let id of scrumTeam" [ngValue]="id">{{id | scrumTeam: 'fullName'}}</option>
            </select>
          </div>
          <div class="col-md-12 col-xs-12">
            <label for="taskDesc">Description</label>
            <textarea class="form-control" name="taskDesc" id="" cols="30" [(ngModel)]="task.desc"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 text-center">
            <label for="taskPoints">Points</label>
            <div class="input-group">
              <input class="form-control text-center spinner-off" type="number" [(ngModel)]="task.points" min="1" name="taskPoints" id="taskPoints" required readonly>
              <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></button>
            </div>
          </div>
          <div class="col-md-3 col-xs-3 text-center">
            <label for="executedPoints">Executed</label>
            <div class="input-group">
              <input class="form-control text-center spinner-off" type="number" [(ngModel)]="task.executedPoints" max="{{task.points}}" min="0" name="executedPoints" id="executedPoints" required readonly>
              <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></button>
            </div>
          </div>
          <div class="col-md-2 col-xs-2 text-center">
            <label for="successTask">Success</label>
            <input type="checkbox" class="checkbox" [(ngModel)]="task.successTask" name="successTask" required>
          </div>
        </div>
        </div>
      <div class="modal-footer">
        <label for="closeOnSaveTask">Close On Save Task</label>
        <input type="checkbox" class="checkbox" [(ngModel)]="closeOnSaveTask" name="closeOnSaveTask">
        <button type="submit" class="btn btn-sm btn-primary float-right">
          <i class="fa fa-check"></i>
        </button>
      </div>
    </form>
  </div>
</div>