<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-container">
    <div class="logo" routerLink="/">FUL-SCRUM</div>
  </div>
</div>
<nb-actions size="medium" class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <nb-action routerLinkActive="active" routerLink="/projects">
    Projects
  </nb-action>
  <nb-action routerLinkActive="active" routerLink="/users">
    Users
  </nb-action>
  <nb-action>
    <button #btnLogin data-toggle="modal" data-target="#loginData" hidden></button>
    <nb-user name="{{user?.user}}" [menu]="userMenu" (menuClick)="onMenuItemClick($event)">
    </nb-user>
  </nb-action>
</nb-actions>
<div *ngIf="!user" class="modal" id="loginData" role="dialog">
  <scrum-login-modal (onLogin)="login()"></scrum-login-modal>
</div>