<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-container">
    <div class="logo" routerLink="/">FUL-SCRUM</div>
  </div>
</div>
<nb-actions size="medium" class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <nb-action routerLinkActive="active" routerLink="/projects">
    Projects
  </nb-action>
  <nb-action routerLinkActive="active" routerLink="/users">
    Users
  </nb-action>
  <nb-action>
    <nb-user name="{{user?.user}}" [menu]="userMenu" (menuClick)="onMenuItemClick($event)">
    </nb-user>
  </nb-action>
</nb-actions>