<div class="row container-fluid">
  <div *ngFor="let data of tasks" class="col-md-3 col-xs-3 p-0">
    <h5 class="text-center">{{data.title}}</h5>
    <div droppable [dropScope]="data.dropScope" class="container-sprint-tasks flex-container p-0" (onDrop)="data.onDrop($event.dragData)">
      <h6 *ngIf="data.tasks.length === 0" class="title text-center">No tasks assigned.</h6>
      <span draggable [dragScope]="data.scope" *ngFor="let task of data.tasks" class="item card {{data.color}}" [dragData]="task" (click)="selectedTask = task" title="Task: {{task.name}}  Points: {{task.points}}  Points Executed: {{task.executedPoints}}  Points Remaining: {{task.points - task.executedPoints}}"><span><i class="fa fa-thumb-tack float-left"></i><i *ngIf="task.userStoryId === userStory?.id" class="fa fa-star float-right text-warning"></i></span> {{task.name | limitTo: 25}}</span>
    </div>
  </div>
</div>