.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-width: 1.5px;
  height: 100%;
}

.item {
  flex: 0 1 auto;
  align-self: center;
  margin: 2.5px;
  cursor: pointer;
}

.border-sprint-tasks {
  border: thin groove dodgerblue;
}

span.title {
  font-weight: bolder;
}

.highlight {
  border-style: outset;
  border-width: 2px;
  border-color: forestgreen;
}

span.item:hover {
  box-shadow: inset 0 0 0 1px black;
}