<ul class="list-group pl-0">
  <li draggable [dragScope]="'story'" *ngFor="let story of userStories; let current = index" [attr.data-index]="current" [dragData]="story" class="list-group-item list-group-item-action flex-column align-items-start" (click)="selectStory(story)" [ngClass]="{'item-selected': current === userStories.indexOf(currentStory)}">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">{{story.name}}</h4>
      <span class="float-right">
        <button *ngIf="canDelete" class="btn btn-sm btn-danger" (click)="deleteUserStory(story)">
          <i class="fa fa-trash"></i>
        </button>
      </span>
    </div>
    <p *ngIf="showDescription" class="mb-1">{{story.desc}}</p>
    <div class="row">
      <small class="col mr-auto text-left">Priority
        <span class="badge" [ngClass]="story.priorityId | storyPriority: 'desc'">{{story.priorityId | storyPriority: 'name'}}</span>
      </small>
      <small class="col ml-auto text-right">Status
        <span class="badge" [ngClass]="story.statusId | storyStatus: 'desc'">{{story.statusId | storyStatus: 'name'}}</span>
      </small>
    </div>
  </li>
</ul>