<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{(user.id) ? 'Edit' : 'New'}} User {{user.user}}</h5>
      <button #dataUserClose type="button" class="close" data-dismiss="modal" title="Close">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <app-user [user]="user"></app-user>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary float-right" (click)="doSaveUser(user)" title="Save User"><i class="fa fa-check"></i></button>
    </div>
  </div>
</div>