.scrollspy {
  position: relative;
  height: 475px;
  margin-top: .5rem;
  overflow: auto;
}

@media screen and (max-height: 768) {
  .scrollspy{
    height: 305px;
  }
}

.hidden {
  display: none;
}