<div class="container-fluid">
  <div class="alert alert-secondary text-center">
    <h3>{{project.name}}</h3>
    <p class="lead text-muted">{{project.desc}}</p>
  </div>
  <div class="row">
    <div class="col-4">
      <span class="float-right">
        <button class="btn btn-sm btn-primary" (click)="userStory = null">
          <i class="fa fa-plus"></i>
        </button>
        <button #dataUserStoryModal class="hidden" data-toggle="modal" data-target="#userStoryData"></button>
      </span>
      <h3 class="text-center">User Stories</h3>
      <div class="scrollspy" data-spy="scroll" data-offset="0" droppable [dropScope]="'sprintStory'" (onDrop)="onSprintStoryToUserStoriesDrop($event)">
        <div *ngIf="userStories.length === 0" class="text-center">No user stories to assign</div>
        <app-user-stories [userStories]="userStories" [canDelete]="true" (onSelect)="userStory = $event"></app-user-stories>
      </div>
    </div>
    <div class="col-8">
      <span class="float-right">
        <button class="btn btn-sm btn-primary" (click)="sprint = null">
          <i class="fa fa-plus"></i>
        </button>
        <button #dataSprintModal class="hidden" data-toggle="modal" data-target="#sprintData"></button>
      </span>
      <h3 class="text-center">Sprints</h3>
      <div *ngIf="sprints.length === 0" class="text-center">No sprints to assign user stories</div>
      <app-sprints [sprints]="sprints" [canDelete]="true" (onSelect)="sprint = $event"></app-sprints>
    </div>
  </div>
  <div class="modal" id="userStoryData" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{((userStory && userStory.id) ? 'Edit' : 'New')}} User Story</h5>
          <button type="button" class="close" data-dismiss="modal" title="Close"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body">
            <app-user-story-form [userStory]="userStory" (onSaveUserStory)="saveUserStory = $event"></app-user-story-form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="sprintData" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{((sprint && sprint.id) ? 'Edit' : 'New')}} Sprint</h5>
          <button type="button" class="close" data-dismiss="modal" title="Close">
            <i class="fa fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <app-sprint-form [sprint]="sprint" (onSaveSprint)="saveSprint = $event"></app-sprint-form>
        </div>
      </div>
    </div>
  </div>
</div>