.scrollspy {
  position: relative;
  height: 20rem;
  margin-top: .5rem;
  overflow: auto;
}

@media screen and (max-height: 768) {
  .scrollspy{
    height: 19.0625rem;
  }
}

.card-header {
  cursor: default;
}