<div class="container-fluid">
  <div class="alert alert-secondary text-center">
    <h3>Users</h3>
    <p>List of users (Product Owner, Scrum Master and Team, Stakeholders and Administrators)
      <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#data-user" (click)="selected = null"><i class="fa fa-plus"></i></button>
    </p>
  </div>
  <div class="card-flex">
    <div *ngFor="let user of users" class="card" data-toggle="modal" data-target="#data-user" (click)="selected = user">
      <div class="card-body">
        <h5 class="card-title text-center">{{user.user}}</h5>
        <p class="card-text"><span class="title">First Name</span>: {{user.firstName || '' | limitTo: 15}}</p>
        <p class="card-text"><span class="title">Last Name</span>: {{user.lastName || '' | limitTo: 15}}</p>
        <p class="card-text"><span class="title">Role</span>: {{user.roleId | userRole: 'name'}}</p>
      </div>
    </div>
  </div>
  <div class="modal fade" id="data-user" role="dialog">
    <app-user-modal [user]="selected" (saveUser)="selected ? update = $event : add = $event"></app-user-modal>
  </div>
</div>