<div class="container-fluid">
  <button class="btn btn-primary float-right" data-toggle="modal" data-target="#data-user" (click)="selected = null"><i class="fa fa-plus"></i></button>
</div>
<div class="container-fluid card-flex">
  <div *ngFor="let user of users" class="card" data-toggle="modal" data-target="#data-user" (click)="selected = user">
    <div class="card-body">
      <h5 class="card-title"><span class="title">User</span>: {{user.name}}</h5>
      <p class="card-text"><span class="title">Description</span>: {{user.desc}}</p>
      <p class="card-text"><span class="title">Role</span>: {{user.roleId}}</p>
    </div>
  </div>
</div>
<div class="modal fade" id="data-user" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{(selected && selected.id) ? 'Edit' : 'New'}} User {{selected && selected.name}}</h5>
        <button #dataUserClose type="button" class="close" data-dismiss="modal" title="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <app-user [user]="selected" (saveUser)="selected ? update = $event : add = $event"></app-user>
      </div>
    </div>
  </div>
</div>