.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-width: 1.5px;
  height: 100%;
}

.item {
  flex: 0 1 auto;
  align-self: center;
  margin: 2.5px;
  cursor: pointer;
}

.border-sprint-tasks {
  border: thin groove dodgerblue;
}