<ul class="list-group">
  <li draggable [dragScope]="'story'" *ngFor="let story of object.userStories; let current = index" [attr.data-index]="current" [dragData]="story" class="list-group-item list-group-item-action flex-column align-items-start" (click)="selectStory(story)" [ngClass]="{'item-selected': current === object.userStories.indexOf(currentStory)}">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">{{story.name}}</h4>
    </div>
    <p *ngIf="showDescription" class="mb-1">{{story.desc}}</p>
    <div class="row col"><small>Priority <span class="badge" [ngClass]="story.priorityId | storyPriority: 'desc'">{{story.priorityId | storyPriority: 'name'}}</span></small></div>
    <div class="row col"><small>Status <span class="badge" [ngClass]="story.statusId | storyStatus: 'desc'">{{story.statusId | storyStatus: 'name'}}</span></small></div>
  </li>
</ul>