<label for="name">Name</label>
<input type="text" class="form-control" [(ngModel)]="userStory.name">
<label for="desc">Description</label>
<input type="text" class="form-control" [(ngModel)]="userStory.desc">
<label for="priority">Priority</label>
<select class="form-control" [(ngModel)]="userStory.priorityId" name="priority" id="priority">
  <option *ngFor="let priority of priorities" [value]="priority.id">{{priority.name}}</option>
</select>
<button class="btn btn-sm btn-primary float-right" (click)="doSaveUserStory(userStory)"><i class="fa fa-check"></i></button>