.row.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  border-width: 1.5px;
  height: 100%;
}

.card {
  height: 25rem;
}

.card-body {
  cursor: default;
  flex: 0 1 auto;
  box-shadow: 0.25rem 0.25rem 0.25rem black;
}

.card-body > i {
  cursor: pointer;
}

span.title {
  font-weight: bolder;
}

span.card-body:hover {
  box-shadow: 0.1rem 0.1rem 0.1rem black;
}