<div class="container-fluid">
  <div class="alert text-center">
    <div class="ml-auto text-center">
      <h5 class="mb-1">{{sprint.name}}</h5>
      <p>From {{sprint.start | date: 'yyyy/MM/dd'}} to {{sprint.end | date: 'yyyy/MM/dd'}}
        <button class="btn btn-tn btn-secondary float-right" (click)="toggleDataChart()" title="Show {{!toggle ? 'burndown chart' : 'scrum board'}}">
          <i class="fa" [ngClass]="{'fa-line-chart': !toggle, 'fa-gear': toggle}"></i>
        </button>
        <button class="btn btn-tn btn-secondary float-right mr-1" [routerLink]="['/project', sprint.project?.id]" title="Go to project {{sprint.project?.name}}"><i class="fa fa-arrow-left"></i></button>
      </p>
    </div>
    <div class="ml-auto">
      
    </div>
  </div>
  <div *ngIf="!toggle;else burndownChart" class="row">
    <div class="col-3">
      <h5 class="text-center">User Story Selected</h5>
      <div *ngIf="!story;else storyData" class="text-center">No user story selected.</div>
      <ng-template #storyData>
        <div class="card">
          <div class="card-header">
            <span>
              <button class="btn btn-tn btn-primary float-right" title="New Task" (click)="newTask()">
                <i class="fa fa-plus"></i>
              </button>
            </span>
            <div title="Edit User Story" (click)="editUserStory(story)">
              <h5 class="mb-1">{{story.name}}</h5>
              <p class="mb-1">{{story.desc}}</p>
              <div class="row">
                <small class="col mr-auto text-left">Priority
                  <span class="badge" [ngClass]="story.priorityId | storyPriority: 'desc'">{{story.priorityId | storyPriority: 'name'}}</span>
                </small>
                <small class="col ml-auto text-right">Status
                  <span class="badge" [ngClass]="story.statusId | storyStatus: 'desc'">{{story.statusId | storyStatus: 'name'}}</span>
                </small>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <h5 class="text-center">User Stories</h5>
      <div class="scrollspy-mini" data-spy="scroll" data-offset="0">
        <div *ngIf="sprint.userStories.length === 0" class="text-center">No user stories assigned.</div>
        <scrum-user-stories [userStories]="sprint.userStories" [selectCurrentStory]="true" [showDescription]="false" [selectCurrentStory]="true"
          (onSelect)="story = $event"></scrum-user-stories>
      </div>
    </div>
    <scrum-sprint-tasks class="col-9" [userStory]="story" (onLoad)="tasks = $event" (onSelect)="task = $event"></scrum-sprint-tasks>
  </div>
  <ng-template #burndownChart>
    <div class="row chart">
      <scrum-burndown-chart class="burndown-chart-center" [sprintId]="sprint.id"></scrum-burndown-chart>
    </div>
  </ng-template>
</div>