<form [formGroup]="projectForm" (ngSubmit)="saveProject(projectForm.value)" novalidate>
  <label for="name">Name</label>
  <input type="text" class="form-control" formControlName="name">
  <label for="desc">Description</label>
  <input type="text" class="form-control" formControlName="desc">
  <label for="productOwner">Product Owner</label>
  <select class="form-control" formControlName="productOwnerId" name="productOwner">
    <option *ngFor="let productOwner of users" [ngValue]="productOwner.id">{{productOwner.user}} {{productOwner.firstName}} {{productOwner.lastName}}</option>
  </select>
  <label for="scrumMaster">Scrum Master</label>
  <select class="form-control" formControlName="scrumMasterId" name="scrumMaster">
    <option *ngFor="let scrumMaster of users" [ngValue]="scrumMaster.id">{{scrumMaster.user}} {{scrumMaster.firstName}} {{scrumMaster.lastName}}</option>
  </select>
  <label for="scrumTeam">Scrum Team</label>
  <select class="form-control" [(ngModel)]="selectedScrumTeamId" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeUserList(selectedScrumTeamId, projectForm.value.scrumTeam, scrumTeam)"
    name="scrumTeam" id="scrumTeam">
    <option [value]="null">Select to add a scrum team</option>
    <option *ngFor="let user of users" [ngValue]="user.id">{{user.user}} {{user.firstName}} {{user.lastName}}</option>
  </select>
  <div class="mt-2">
    <div *ngIf="scrumTeam.length === 0" class="text-center">No Scrum Team assigned.</div>
    <div class="project-users">
      <span *ngFor="let user of scrumTeam" class="item badge badge-pill badge-dark">
        {{user.user}}
        <i class="fa fa-times" (click)="doRemoveScrumTeam(projectForm.value, user)"></i>
      </span>
    </div>
  </div>
  <label for="stakeholders">Stakeholders</label>
  <select class="form-control" [(ngModel)]="selectedStakeholderId" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeUserList(selectedStakeholderId, projectForm.value.stakeholders, stakeholders)"
    name="stakeholders" id="stakeholders">
    <option [value]="null">Select to add a stakeholder</option>
    <option *ngFor="let user of users" [ngValue]="user.id">{{user.user}} {{user.firstName}} {{user.lastName}}</option>
  </select>
  <div class="mt-2">
    <div *ngIf="stakeholders.length === 0" class="text-center">No Stakeholders assigned.</div>
    <div class="project-users">
      <span *ngFor="let user of stakeholders" class="item badge badge-pill badge-dark">
        {{user.user}}
        <i class="fa fa-times" (click)="doRemoveStakeholder(projectForm.value, user)"></i>
      </span>
    </div>
  </div>
  <button class="btn btn-primary float-right" type="submit" title="Save Project" [disabled]="!projectForm.valid">
    <i class="fa fa-check"></i>
  </button>
</form>