/* You can add global styles to this file, and also import other style files */
.card-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-width: 1.5px;
}

.card {
  flex: 0 1 auto;
  align-self: baseline;
  margin: 2.5px;
  cursor: pointer;
}

span, h1, h2, h3, h4, h5, h6, label.title {
  font-weight: bolder;
}

.hidden {
  display: none;
}

input[type=number].spinner-off::-webkit-outer-spin-button,
input[type=number].spinner-off::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[formcontrolname].ng-valid {
  border-left: 0.25rem solid green;
}

input[formcontrolname].ng-invalid {
  border-left: 0.25rem solid red;
}

textarea[formcontrolname].ng-valid {
  border-left: 0.25rem solid green;
}

textarea[formcontrolname].ng-invalid {
  border-left: 0.25rem solid red;
}

/* Date Range Picker */

bs-daterangepicker-container {
  z-index: 9999;
}