@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~@nebular/theme/styles/theming';

.card-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-width: 1.5px;
}

.card {
  flex: 0 1 auto;
  align-self: baseline;
  margin: 2.5px;
  cursor: pointer;
  background-color: inherit;
  border: 0.15rem solid map-get($theme-scrum, 'color-bg-active');
  border-radius: 0.15rem;
}

span, h1, h2, h3, h4, h5, h6, label.title {
  font-weight: bolder;
}

.hidden {
  display: none;
}

input[type=number].spinner-off::-webkit-outer-spin-button,
input[type=number].spinner-off::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[formcontrolname].ng-valid {
  border-left: 0.25rem solid map-get($theme-scrum, 'color-success');
}

input[formcontrolname].ng-invalid {
  border-left: 0.25rem solid map-get($theme-scrum, 'color-danger');
}

textarea[formcontrolname].ng-valid {
  border-left: 0.25rem solid map-get($theme-scrum, 'color-success');
}

textarea[formcontrolname].ng-invalid {
  border-left: 0.25rem solid map-get($theme-scrum, 'color-danger');
}

/* Date Range Picker */

bs-daterangepicker-container {
  z-index: 9999;
}

.list-group-item {
  background-color: inherit;
}

.list-group-item-action {
  color: map-get($theme-scrum, 'color-fg-text');
  & small {
    color: map-get($theme-scrum, 'color-fg-text');
  }
}

.list-group-item-action:focus, .list-group-item-action:hover {
  color: map-get($theme-scrum, 'color-fg-text');
  background-color: inherit;
}

.badge-primary {
  background: map-get($theme-scrum, 'color-primary');
}

.badge-info {
  background: map-get($theme-scrum, 'color-info');
}

.badge-success {
  background: map-get($theme-scrum, 'color-success');
}

.badge-warning {
  background: map-get($theme-scrum, 'color-warning');
}

.item-selected {
  background: map-get($theme-scrum, 'color-bg-active');
}

.jumbotron {
  background: inherit;
}

nb-layout-column {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@import 'themes';

// framework component styles which will use your new theme
@import '~@nebular/theme/styles/globals';

// install the framework
@include nb-install() {
  @include nb-theme-global();
};