<form [formGroup]="userStoryForm" (ngSubmit)="saveUserStory(userStoryForm.value)">
  <label for="name">Name</label>
  <input type="text" class="form-control" formControlName="name">
  <label for="desc">Description</label>
  <textarea type="text" class="form-control" formControlName="desc"></textarea>
  <label for="priority">Priority</label>
  <select class="form-control" formControlName="priorityId" name="priority" id="priority">
    <option *ngFor="let priority of priorities" [ngValue]="priority.id">{{priority.name}}</option>
  </select>
  <button class="btn btn-sm btn-primary float-right mt-3" type="submit"><i class="fa fa-check"></i></button>
</form>