<label for="user">User</label>
<input type="text" class="form-control" name="user" id="user" [(ngModel)]="user.user">
<label for="first" class="mt-1">First Name</label>
<input type="text" class="form-control" name="first" id="first" [(ngModel)]="user.firstName">
<label for="last" class="mt-1">Last Name</label>
<input type="text" class="form-control" name="last" id="last" [(ngModel)]="user.lastName">
<label for="email" class="mt-1">Email</label>
<input type="email" class="form-control" name="email" id="email" [(ngModel)]="user.email">
<label for="name" class="mt-1">Admin</label>
<input type="checkbox" name="admin" id="admin" [(ngModel)]="user.admin">