<div class="container text-center">
  <h3 class="">{{sprint.name}}</h3>
  <p>From {{sprint.start.toISOString().substring(0, 10)}} to {{sprint.end.toISOString().substring(0, 10)}}</p>
</div>
<div class="row">
  <div class="col-3">
    <h3 class="text-center">User Stories</h3>
    <div class="scrollspy-mini" data-spy="scroll" data-offset="0">
      <div *ngIf="sprint.userStories.length === 0" class="text-center">No user stories assigned</div>
      <ul class="list-group">
        <li *ngFor="let story of sprint.userStories" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">{{story.name}}</h4>
          </div>
          <p class="mb-1">{{story.desc}}</p>
          <small>Priority <span class="badge badge-success">{{story.priorityId}}</span></small>
          <small class="float-right">Status <span class="badge badge-primary">{{story.statusId}}</span></small>
        </li>
      </ul>
    </div>
  </div>  
</div>