<div class="container text-center">
  <h3 class="">{{sprint.name}}</h3>
  <p>From {{sprint.start.toISOString().substring(0, 10)}} to {{sprint.end.toISOString().substring(0, 10)}}</p>
</div>
<div class="row">
  <div class="col-3">
    <h3 class="text-center">User Stories</h3>
    <div class="scrollspy-mini" data-spy="scroll" data-offset="0">
      <div *ngIf="sprint.userStories.length === 0" class="text-center">No user stories assigned</div>
      <app-user-story [object]="sprint"></app-user-story>
    </div>
  </div>
  <div class="col-4">
    <h3 class="mb-1">{{story.name}}</h3>
    <p>{{story.desc}}</p>
  </div>
  <div class="col-5">

  </div>
</div>